@font-face {
  font-family: 'whitney';
  src: url('/assets/fonts/whitneylight.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'whitney';
  src: url('/assets/fonts/whitneybook.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'whitney';
  src: url('/assets/fonts/whitneybold.woff') format('woff');
  font-weight: 800;
}
